<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="text-align: center;
font-size: 20px;">
    <h1>Продукт</h1>
    <div style="font-size: 25px;
    border: 3px solid;
    width: 1000px;
    margin: auto;
    padding: 15px;">
        <p><b>Name:</b><br> {{product.name}}</p>
        <p><b>Category:</b><br> {{ product.category }}</p>
        <p><b>Price:</b><br> {{ product.price }}</p>
        <p><b>Availability:</b><br> {{ product.availability }}</p>
        <p><b>Availability:</b><br> {{ product.date_creation }}</p>
        <p><b>Availability:</b><br> {{ product.description }}</p>
    </div>
</body>

</html>